<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mn.alge.english"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" />
        <activity
            android:name=".WalkThrough"
            android:label="@string/title_activity_walk_through"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="mn.alge.level.BeginnerLesson"
            android:label="@string/beginner"
            android:theme="@style/Beginner" >

            <!--
            <meta-data
         		android:name="android.support.PARENT_ACTIVITY"
         		android:value="mn.alge.level.Beginner" />
            -->

        </activity>
        <activity
            android:name="mn.alge.level.IntermediateLesson"
            android:label="@string/intermediate"
            android:theme="@style/Intermediate" />
        <activity
            android:name="mn.alge.level.ExpertLesson"
            android:label="@string/expert"
            android:theme="@style/Expert" />
        
        <activity 
            android:name="mn.alge.lessons.Vocabulary1"
            android:label="Vocabulary"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity 
            android:name="mn.alge.lessons.FindPicture"
            android:label="Find the Picture"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity 
            android:name="mn.alge.lessons.ListenChoose"
            android:label="Listen and Choose"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity 
            android:name="mn.alge.lessons.ChooseWord"
            android:label="Choose Word"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
    </application>

</manifest>
